html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1{
    font-size: 30pt;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

h2{ 
    font-size: 25pt;
    font-style: italic;
    font-family: "Montserrat Alternates", sans-serif;
}

p{
    font-size: 13pt;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
}

/*HOME*/

main.container header{
    height: 100vh;
    display: flex;
    background-size: 45%;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f0f0;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-image: url("/images/backgrounds/background-6.png");
}

main.container nav.menu-container{
    display: flex;
    padding: 1em 2em;
    align-items: center;
    justify-content: space-between;
}

main.container nav.menu-container ul li{
    display: inline;
    text-transform: uppercase;
}

main.container nav.menu-container ul li a{
    padding: 5px;
    font-size: 20px;
    color: #02a0df;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}

main.container nav.menu-container ul li a:hover{
    color: #212121;
    transition: 0.6s;
    transform: translateY(-5px);
    border-bottom: 1px #212121 solid;
}

main.container nav.menu-container ul li a:focus{
    color: #212121;
    border-bottom: 1px #212121 solid;
}

main.container header aside.home-text{
    margin: auto 0;
    padding: 1em 2em;
    max-width: 60%;
}

main.container header aside.home-text h1{
    text-align: left;
    color: #02a0df;
}

main.container header aside.home-text h2{
    margin: 0.5em 0;
    padding: 0.1em 0;
    color: #212121;
    border-bottom: 4px solid #02a0df;
}


main.container header aside.home-text p{
    color: #212121;

}

/*SERVICES*/
section.services-section{
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #02a0df;
}

section.services-section div.cards-container{
    display: flex;
}

section.services-section div.cards-container article.service-card{
    margin: 1em;
    padding: 2em;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    justify-content: space-around;
    background-color: #f3f0f0;
}

section.services-section div.cards-container article.service-card .icon{
    font-size: 70pt;
    color: #02a0df;
    border-radius: 50%;
}


section.services-section div.cards-container article.service-card p{
    margin-top: 2em;
    color: #02a0df;
    font-weight: 600;
}

/*CLIENTES*/
section.customer-section{
    padding: 2em;
    position: relative;
    text-align: center;
    background-color: #f3f0f0;
}

section.customer-section h2{
    color: #212121;
    text-transform: uppercase;
}

section.customer-section ul li{
    background-color: #F5F564;
}

section.customer-section ul li{
    display: inline;
}

/*PROJECTS*/
section.projects-section{
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: #212121;
}


section.projects-section ul.images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.projects-section ul.images-container li img{
    width: 160px;
    height: 160px;
    cursor: pointer;
    margin: 10px 5px;
}

section.projects-section ul.images-container li img:hover, li img:focus{
    opacity: 30%;

}

section.projects-section figure img{
    width: 430px;
    height: 430px;
}

/*CONTATO*/

section.contact-container{
    display: flex;
    background-color: #02a0df;
    justify-content: space-between;
}

section.contact-container article{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

section.contact-container article h3{
    font-size: 20pt;
    color: #F5F564;
    font-weight: 600;
    margin-bottom: 1em;
    text-transform: uppercase;
}

section.contact-container article p{
    color: #f3f0f0;
}

section.contact-container article i.icon-contact{
    display: flex;
    color: #F5F564;
    font-size: 20pt;
    margin-top: 1em;
    width: max-content;
    align-items: center;
}

section.contact-container article i.icon-contact p{
    margin-left: 1em;
    font-size: 10pt;
    font-weight: 800;
}

section.contact-container form{
    width: 100%;
    padding: 2em 2em 0 0;
    display: flex;
    color: #f3f0f0;
    text-decoration: none;
    flex-direction: column;
}

section.contact-container form input{
    outline: 0;
    padding: 1em;
    color: #f3f0f0;
    font-style: none;
    background: none;
    margin-bottom: 2em;
    border: #f3f0f0 2px solid;
}

section.contact-container form textarea{
    outline: 0;
    padding: 1em;
    color: #f3f0f0;
    font-style: none;
    background: none;
    margin-bottom: 2em;
    border: #f3f0f0 2px solid;
}

section.contact-container form input.form-button{
    border: none;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: max-content;
    font-size: 13pt;
    background-color: #B71C1C;
}

section.contact-container form input.form-button:hover{
    cursor: pointer;
    transition: 0.5s;
    color: #B71C1C;
    background-color: #f3f0f0;
}

@media screen and (max-width: 768px){

    h1{
        font-size: 20pt;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
    }
    
    h2{ 
        font-size: 15pt;
        font-style: italic;
        font-family: "Montserrat Alternates", sans-serif;
    }
    
    p{
        font-size: 10pt;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
    }

    div.container header{
        height: 100vh;
        display: flex;
        background-size: 50%;
        flex-direction: column;
        justify-content: center;
        background-color: #f3f0f0;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-image: url("/images/backgrounds/background-6.png");
    }

    div.container header aside.home-text{
        margin: auto 0;
        padding: 1em 2em;
        max-width: 55%;
    }

    section.services-section{
        padding: 2em;
        background-color: #02a0df;
    }
    
    section.services-section div.cards-container{
        display: flex;
        flex-direction: column;
    }
    
    section.services-section div.cards-container article.service-card{
        margin: 1em;
        padding: 2em;
        max-width: 400px;
        text-align: center;
        border-radius: 20px;
        justify-content: space-around;
        background-color: #f3f0f0;
    }
    
    section.services-section div.cards-container article.service-card .icon{
        font-size: 70pt;
        color: #02a0df;
        border-radius: 50%;
    }
    
    
    section.services-section div.cards-container article.service-card p{
        margin-top: 2em;
        color: #02a0df;
        font-weight: 600;
    }

}

@media screen and (max-width: 480px){
    h1{
        font-size: 20pt;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
    }
    
    h2{ 
        font-size: 15pt;
        font-style: italic;
        font-family: "Montserrat Alternates", sans-serif;
    }
    
    p{
        font-size: 10pt;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
    }

    main.container header{
        height: 100vh;
        display: flex;
        background-size: 50%;
        flex-direction: column;
        justify-content: center;
        background-color: #f3f0f0;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-image: url("/images/backgrounds/background-6.png");
    }

    main.container header aside.home-text{
        margin: auto 0;
        padding: 1em 2em;
        max-width: 55%;
    }

    section.services-section{
        padding: 2em;
        background-color: #02a0df;
    }
    
    section.services-section div.cards-container{
        display: flex;
        flex-direction: column;
    }
    
    section.services-section div.cards-container article.service-card{
        margin: 1em;
        padding: 2em;
        max-width: 400px;
        text-align: center;
        border-radius: 20px;
        justify-content: space-around;
        background-color: #f3f0f0;
    }
    
    section.services-section div.cards-container article.service-card .icon{
        font-size: 70pt;
        color: #02a0df;
        border-radius: 50%;
    }
    
    
    section.services-section div.cards-container article.service-card p{
        margin-top: 2em;
        color: #02a0df;
        font-weight: 600;
    }

    /*PROJECTS*/
    section.projects-section{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #212121;
    }


    section.projects-section ul.images-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.projects-section ul.images-container li img{
        width: 160px;
        height: 160px;
        cursor: pointer;
        margin: 10px 5px;
    }

    section.projects-section ul.images-container li img:hover, li img:focus{
        opacity: 30%;

    }

    section.projects-section figure{
        display: flex;
        flex-direction: column;
    }
    
    section.projects-section figure img{
        width: 120px;
        height: 120px;
    }

    /*CONTATO*/
    section.contact-container{
        display: flex;
        flex-direction: column;
        background-color: #02a0df;
        justify-content: space-between;
    }
    
    section.contact-container article{
        padding: 2em;
        display: flex;
        flex-direction: column;
    }
    
    section.contact-container article h3{
        font-size: 20pt;
        color: #F5F564;
        font-weight: 600;
        margin-bottom: 1em;
        text-transform: uppercase;
    }
    
    section.contact-container article p{
        color: #f3f0f0;
    }
    
    section.contact-container article i.icon-contact{
        display: flex;
        color: #F5F564;
        font-size: 20pt;
        margin-top: 1em;
        width: max-content;
        align-items: center;
    }
    
    section.contact-container article i.icon-contact p{
        margin-left: 1em;
        font-size: 10pt;
        font-weight: 800;
    }
    
    section.contact-container form{
        width: 100%;
        padding: 2em 2em 0 0;
        display: flex;
        color: #f3f0f0;
        text-decoration: none;
        flex-direction: column;
    }
    
    section.contact-container form input{
        outline: 0;
        padding: 1em;
        color: #f3f0f0;
        font-style: none;
        background: none;
        margin-bottom: 2em;
        border: #f3f0f0 2px solid;
    }
    
    section.contact-container form textarea{
        outline: 0;
        padding: 1em;
        color: #f3f0f0;
        font-style: none;
        background: none;
        margin-bottom: 2em;
        border: #f3f0f0 2px solid;
    }
    
    section.contact-container form input.form-button{
        border: none;
        border-radius: 10px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: max-content;
        font-size: 13pt;
        background-color: #B71C1C;
    }
    
    section.contact-container form input.form-button:hover{
        cursor: pointer;
        transition: 0.5s;
        color: #B71C1C;
        background-color: #f3f0f0;
    }
}

/* 
PALETA

#B71C1C - VERMELHO
#212121 - PRETO
#E0E0E0 - CINZA
#02a0df - AZUL
#F5F564 - AMARELO
*/