@media screen and (min-width: 1024px){
    h1{
        font-size: 115%;
        font-weight: 800;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
    }
    
    h2{ 
        font-size: 115%;
        font-weight: 600;
        font-style: italic;
        font-family: "Open Sans", sans-serif;
    }
    
    p{
        font-size: 100%;
        font-weight: 600;
        text-align: justify;
        word-wrap: break-word;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    /*-----------MENU-----------*/
    header#cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /*box-shadow: 0 2px 20px 5px #212121;*/
    }
    
    header#cabecalho i#icon-menuBurger{
        font-size: 200%;
        display: none;
    }
    
    header#cabecalho nav#menu-container{
        left: 0;
        position: relative;
        text-align: center;
        background: none;
    }
    
    header#cabecalho nav#menu-container ul{
        margin: 0;
        display: inline;
    }

    header#cabecalho nav#menu-container ul li{
        margin: 5px;
        display: inline;
    }
        
    header#cabecalho nav#menu-container ul li a{
        color: #0e4477;
        font-weight: 700;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
    }

    header#cabecalho nav#menu-container ul li a:hover{
        color: #333;
        transition: 0.6s;
        border-bottom: 1px #333 solid;
    }
    
    header#cabecalho nav#menu-container ul li a:focus{
        transform: translateY(-50px);
        color: #333;
        border-bottom: 1px #333 solid;
    }

    /*-----------HOME-----------*/
    article#home{
        padding: 2em;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #f3f0f0;
    }

    article#home section#text-section h1{
        margin-top: 1em;
        color: #0e4477;
        text-align: left;
    }

    article#home section#text-section h2{
        margin: 1em 0;
        color: #0e4477;
        border-bottom: #eeee52 solid 2px;
    }

    article#home section#text-section p{
        margin: 1em 0;
        color: #333;
    }

    article#home img{
        height: 55%;
        width: 55%;
    }

    /*-----------SERVICES-----------*/
    main#content article#services-article{
        padding: 1em;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #0e4477;
    }
        
    main#content article#services-article section.section-serviceCard hr{
        display: none;
    }

    main#content article#services-article section.section-serviceCard{
        margin: 1em;
        padding: 10px;
        position: relative;
        width: 50%;
        height: 100%;
        text-align: center;
        border-radius: 20px;
        border: #f3f0f0 1px solid;
        background-color: #f3f0f0;
    }

    main#content article#services-article section.section-serviceCard i{
        margin: 0.5em 0;
        font-size: 350%;
        color: #0e4477;
        text-align: center;
    }
        
    main#content article#services-article section.section-serviceCard p{
        font-size: 115%;
        color: #0e4477;
        text-align: justify;
    }
    
    main#content article#services-article section.section-serviceCard div.circle{
        width: 25px;
        height: 25px;
        border-radius: 50px;
        position: absolute;
        background-color: #0e4477;
    }

    /*-----------COSTUMER-----------*/
    main#content article#customer-article{
        padding: 2em;
        background-color: #f3f0f0;
    }
    
    main#content article#customer-article ul li{
        margin: 2em 0;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        font-family: "Opens Sans", sans-serif;
    }
    
    /*-----------PROJECTS-----------*/
    main#content article#projects-article ul li img{
        height: 120px;
        width: 120px;
    }
    
    main#content img#imageExpand{
        height: 14em;
        width: 14em;
    }

    /*-----------FORM-----------*/
    footer#rodape article#contact-article{
        display: flex;
        align-items: start;
        justify-content: space-between;
        background-color: #0e4477;
    }
    
    footer#rodape article#contact-article section#contact{
        height: 100%;
        width: 50%;
    }

    footer#rodape article#contact-article section#contact h3{
        font-size: 150%;
        color: #eeee52;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1em;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
    }
    
    footer#rodape article#contact-article section#contact p{
        color: #f3f0f0;
        text-align: justify;
    }
    
    footer#rodape article#contact-article section#contact i.icon-contact{
        display: flex;
        font-size: 20pt;
        color: #eeee52;
        width: max-content;
        align-items: center;
    }
        
    footer#rodape article#contact-article section#contact i.icon-contact p{
        font-size: 10pt;
        font-weight: 800;
    }
    
    footer#rodape article#contact-article form{
        height: 100%;
        width: 45%;
    }
    
    footer#rodape article#contact-article form input{
        outline: 0;
        width: 100%;
        padding: 1em;
        font-style: none;
        background: none;
        color: #f3f0f0;
        margin-bottom: 2em;
        border: #f3f0f0 2px solid;
    }

    footer#rodape article#contact-article form input:hover{
        background-color: #333;
    }
    
    footer#rodape article#contact-article form textarea{
        outline: 0;
        width: 100%;
        padding: 1em;
        color: #f3f0f0;
        font-style: none;
        background: none;
        margin-bottom: 2em;
        border: #f3f0f0 2px solid;
    }

    footer#rodape article#contact-article form textarea:hover{
        background-color: #333;
    }
    
    footer#rodape article#contact-article form input.form-button{
        border: none;
        font-size: 10pt;
        font-weight: 800;
        color: #f3f0f0;
        text-align: center;
        width: max-content;
        border-radius: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #333;
    }
    
    footer#rodape article#contact-article form input.form-button:focus{
        cursor: pointer;
        transition: 0.5s;
        color: #0e4477;
        background-color: #f3f0f0;
    }
}